@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #fff;
    --input-border-color: #ccc;
    --beer-bg-color: #fff;
    --beer-border-color: #ddd;
    --beer-box-shadow-color: rgba(0, 0, 0, 0.1);
    --beer-hover-box-shadow-color: rgba(0, 0, 0, 0.2);
    --overlay-bg: rgba(255, 255, 255, 0.7); /* Light background color for overlay */
    --overlay-text-color: black; /* Light text color for overlay */
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #222;
    --input-border-color: #888;
    --beer-bg-color: #333;
    --beer-border-color: #555;
    --beer-box-shadow-color: rgba(0, 0, 0, 0.3);
    --beer-hover-box-shadow-color: rgba(0, 0, 0, 0.4);
    --overlay-bg: rgba(0, 0, 0, 0.7); /* Dark background color for overlay */
    --overlay-text-color: white; /* Dark text color for overlay */
  }
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding-left: 72px;
  padding-right: 72px;
  background-color: var(--main-bg-color);
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  margin-right: 10px;
}

select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  margin-bottom: 20px;
}

select[name="page"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--input-border-color);
}

.beer-grid {
  display: grid;
  gap: 20px;

  /* Small devices such as large phones (640px and up) */
  @media only screen and (min-width: 40em) {
    grid-template-columns: 1fr; 
  }

  /* Medium devices such as tablets (768px and up) */
  @media only screen and (min-width: 48em) {
    grid-template-columns: repeat(2, 1fr); /
  }

  /* Large devices such as laptops (1024px and up) */
  @media only screen and (min-width: 64em) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.beer {
  background-color: var(--beer-bg-color);
  border: 1px solid var(--beer-border-color);
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--beer-box-shadow-color);
  padding: 20px;
  text-align: center;
  position: relative;
  margin: 1rem;
  transition: transform 0.2s;
  cursor: pointer;
}

.beer img {
  max-width: 100%;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 16px;
  transition: transform 0.3s ease;
}

.beer h2 {
  font-size: 1.25rem;
  margin-bottom: 8px;
  margin: 0 0 10px;
  text-align: center;
}

.beer p {
  text-align: center;
  font-size: 1rem;
  margin: 0;
}

.beer:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px var(--beer-hover-box-shadow-color);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  transform: scale(1.05);
}

.beer:hover img {
  transform: scale(1.05);
}

.beer:hover .description-overlay {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  display: flex;
}

.beer .description-overlay {
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-bg);
  color: var(--overlay-text-color);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s;
}
